/*
https://www.w3schools.com/w3css/4/w3.css
https://www.w3schools.com/lib/w3-theme-black.css
*/

.w3-top {
	position: fixed;
	width: 100%;
	z-index: 1
	top: 0;
}
.w3-bar {
	width:100%;
	overflow:hidden
	width: auto
	padding: 8px 16px;
	float: left;
	width: auto;
	border: none;
	display: block;
	outline: 0;
	position: static;
	float: left;
	white-space: normal;
}
.w3-theme-d2 {
	color: #fff; 
	background-color: #000000;
}

.w3-left-align{
	text-align: left
}

.w3-bar-item {
	padding: 8px 16px;
	float: left;
	width: auto;
	border: none;
	display:block;
	outline: 0;
}

.w3-button {
	border: none;
	display: inline-block;
	padding: 8px 16px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	color: inherit;
	background-color: inherit;
	text-align: center;
	cursor: pointer;
	white-space: nowrap
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 100%;
	text-align: left;
	padding: 8px 16px;
	white-space: normal;
	width:100%
}


/*
.w3-disabled,.w3-btn:disabled,.w3-button:disabled{cursor:not-allowed;opacity:0.3}.w3-disabled *,:disabled *{pointer-events:none}
.w3-dropdown-hover:hover > .w3-button:first-child,.w3-dropdown-click:hover > .w3-button:first-child{background-color:#ccc;color:#000}
*/

.w3-button:hover{
	color:#000;
	background-color:#ccc
}

@media (max-width:992px) and (min-width:601px){.w3-hide-medium{display:none!important}}
@media (min-width:993px){.w3-modal-content{width:900px}.w3-hide-large{display:none!important}.w3-sidebar.w3-collapse{display:block!important}}

.w3-right{
	float: right}