
.ul-center {
  margin: auto;
}
.nav-item {
	padding-right:40px;
	padding-right:40px
}
li {
 font-family: "Helvetica"
 font-weight: bold;
}
.navbar-logo {
	width: 45px;
	height: 45px;
}

.carousel-item {
  filter: brightness(80%);
}

body {
  background-image: url("tiger.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
