.w3-light-grey, .w3-hover-light-grey:hover, .w3-light-gray, .w3-hover-light-gray:hover {
    color: #000!important;
    background-color: #f1f1f1!important;

}
.w3-grey, .w3-hover-grey:hover, .w3-gray, .w3-hover-gray:hover {
    color: #fff!important;
    background-color: #6B6E70!important;

}

.w3-dark-grey, .w3-hover-dark-grey:hover, .w3-dark-gray, .w3-hover-dark-gray:hover {
    color: #fff!important;
    background-color: #474B4F!important;

}

.w3-black, .w3-hover-black:hover {
    color: #fff!important;
    background-color: #222629!important;
}

.w3-theme-l1 {
    color: #fff !important;
    background-color: #222629 !important;
}

.w3-theme-d2 {
    color: #fff !important;
    background-color: #222629 !important;
}

.w3-teal, .w3-hover-teal:hover {
/*    color: #fff!important;*/
    background-color: #f87a00!important;
}

.w3-green, .w3-hover-green:hover {
    color: #fff!important;
    background-color: #f87a00!important;
}


.w3-white, .w3-hover-white:hover {
    color: #000!important;
    background-color: #f1f1f1!important;
}

:root {
	--teal: #f87a00!important;
}

.w3-theme-d1 {
    color: #fff !important;
    background-color: #222629 !important;
}

.w3-theme {
    color: #fff !important;
    background-color: #222629 !important;
}

.w3-text-teal, .w3-hover-text-teal:hover {
    color: #f87a00!important;
}

.w3-border-teal, .w3-hover-border-teal:hover {
    border-color: #f87a00!important;
}